* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

/* Navbar Styling */
nav {
    box-shadow: 0px 2px 8px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    overflow: hidden;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
}

.logo {
    max-width: 200px;
}

.toggle-btn {
    cursor: pointer;
    width: fit-content;
    transition: .2s all ease-in-out;
    display: none;
}

.toggle-btn:hover {
    transform: rotate(90deg);
}

.toggle-btn>img {
    width: 30px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 100%;
    transition: .5s all ease-in-out;
}

.navbar-nav .nav-item .nav-link {
    color: #2e2e2e;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #D8644F;
    color: #fff;
}


@media screen and (max-width: 771.98px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .toggle-btn {
        display: block;
    }

    .navbar-nav-hide {
        display: none;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }
}