* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primarycolor: #D8644F;
    --white: #fff;
    --black: #000;
    --gray: #f9f9f9;
    --tranparent: tranparent;
    --zero: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-size: 1rem;
    background-color: var(--gray);
}

/* Container Styling */
.container {
    padding: 0px 20px;
}

/* Heading Styling */
h1 {
    font-size: 2rem;
    text-transform: capitalize;
}

.heading-div {
    background-color: var(--white);
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
}

.heading span {
    color: var(--primarycolor);
    text-decoration: underline;
}

a {
    text-decoration: none;
}

/* Button Stying */
.btn {
    padding: 10px 20px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--primarycolor);
    color: var(--white);
    border: 1px dashed var(--primarycolor);
}

.btn-primary:hover {
    background-color: var(--tansparent);

}

.btn-white {
    color: var(--white);
    border: 1px dashed var(--white);
}

.btn-white:hover {
    color: var(--primarycolor);
    background-color: var(--white);
    border-color: var(--primarycolor);
}


/* Section Styling */
.section {
    width: 100%;
    height: 100vh;
}

/* Navbar Styling */
.navbar {
    background-color: var(--white);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-header {
    padding: 10px 0px;
}

.logo {
    max-width: 200px;
    display: block;
}

.logo>img {
    max-width: 100%;
}

.toggle-btn {
    width: 30px;
    display: none;
    cursor: pointer;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .collapse {
    transition: all .3s linear;
}

.navbar-nav {
    display: flex;
    gap: 10px;
    height: 100%;
}

.navbar-nav .nav-item {
    list-style: none;
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--white);
    background-color: var(--primarycolor);
}


/* Hero Section Start Here */
main {
    background-image: url('./images/bg-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0 0 0 / 20%);
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
    color: var(--white);
}

.hero-section p {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

/* Hero Section End Here */

/* Top Btn Styling */
#topBtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: var(--primarycolor);
    color: var(--white);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 2px 10px rgb(0 0 0 / 20%));
    display: block;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transform: all 0.3s linear;
}

#topBtn>img {
    height: 25px;
}

/* Footer Styling */
footer {
    background-color: rgb(41, 38, 38);
    padding: 30px 0px;
}

footer .footer-tag {
    text-align: center;
    color: var(--white);
    margin: 0px;
}

footer .footer-tag a {
    color: var(--primarycolor);
    font-weight: 500;
}

/* Madia Quries */
@media (min-width: 776px) {
    .navbar .collapse {
        height: auto !important;
    }
}

@media (max-width: 775.98px) {
    .navbar {
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }

    .nav-header {
        padding: 10px 20px;
    }

    .toggle-btn {
        display: block;
    }

    .navbar .collapse {
        height: var(--zero);
        overflow: hidden;
    }

    .navbar-nav {
        flex-direction: column;
        height: auto;
    }

    .navbar-nav .nav-item .nav-link {
        justify-content: start;
        padding-left: 25px;
    }
}