@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F2F3F5;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}


/* Navbar Styling */

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    padding: 0px 20px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.nav-1 {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav-2 {
    width: 25%;
    height: 100%;
}

.nav-menu {
    width: 50%;
    height: 100%;
}


/* Navbar Left Side Styling */

.logo {
    width: 40px;
    margin-left: 20px;
}

.navbar-serach {
    position: relative;
    width: 300px;
}

.navbar-serach input {
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    border-radius: 25px;
    background-color: rgb(0 0 0 / 30%);
    color: #fff;
    border: none;
    height: 45px;
}

.navbar-serach input::placeholder {
    color: #fff;
}

.navbar-serach button {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 10px;
    border: none;
    background: none;
}

.navbar-serach button i {
    color: #fff;
    font-size: 1rem;
}


/* Navbar Menu Stying */

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    height: 100%;
    gap: 10px;
}

.navbar-nav .nav-item {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item .nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0f0f0fad;
}

.navbar-nav .nav-item .nav-link.active {
    color: #1877f2;
    border-bottom: 3px solid #1877f2;
}

.navbar-nav .nav-item .nav-link i {
    font-size: 2rem;
}


/* Navbar Right Side Styling */

.navbar-right-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.navbar-right-nav .navbar-right-item {
    width: 35px;
    height: 35px;
    background-color: rgb(0 0 0 / 30%);
    border-radius: 50%;
    min-width: 35px;
}

.navbar-right-nav .navbar-right-item .navbar-right-link {
    color: #0f0f0fad;
    font-size: .9rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right-link {
    text-decoration: none;
}

.user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    min-width: 40px;
}

.user-img>img {
    width: 100%;
    height: 100%;
}

.user-pic>p {
    color: #000;
    text-decoration: none;
}


/* Main Section Styling Start Here */

.mainSection {
    display: flex;
    width: 100%;
    margin-top: 80px;
}


/* Left Sidebar Styling */

.mainSection .leftSidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    height: calc(100vh - 70px);
    left: 0px;
    bottom: 0px;
    padding: 20px;
}

.sidebar-heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.sidebarNav {
    list-style-type: none;
}


/* .sidebarNav .sidebarItem {} */

.sidebarNav .sidebarItem .sidebarLink {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    padding: 5px 20px;
    text-decoration: none;
}

.sidebarNav .sidebarItem .sidebarLink .iconImg {
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.sidebarNav .sidebarItem .sidebarLink .iconImg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sidebarNav .sidebarItem .sidebarLink:hover {
    background-color: rgb(0 0 0 / 30%);
}

.btn {
    width: calc(100% - 5%);
    text-align: center;
    background-color: rgb(0 0 0 / 20%);
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
}

.btn i {
    margin-left: 5px;
}


/* Main Section Styling */

.mainSection main {
    margin-left: 25%;
    width: 50%;
    padding: 20px;
}


/* Right Sidebar Styling */

.mainSection .rightSidebar {
    width: 25%;
    height: calc(100vh - 70px);
    padding: 20px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.mainSection .rightSidebar .pizzaSection img {
    width: 100%;
    border-radius: 10px;
}

.mainSection .rightSidebar .pizzaSection .sidebarLink:hover {
    background: none;
}

.mainSection .rightSidebar .pizzaSection .sidebarLink {
    align-items: flex-start;
}


/* Slider Section Styling Start Here */

.slider {
    display: flex;
    gap: 10px;
}

.slider .slider-item {
    width: 20%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slider .slider-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider .slider-item .storyIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.slider .slider-item .storyIcon>img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.slider .slider-item .title {
    position: absolute;
    bottom: 0px;
    color: #fff;
}


/* SLider Section Styling End Here */


/* Activity Section Styling Start Here */

.activity {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
}

.filter {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.filter .iconImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.filter .iconImg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.filter input {
    width: calc(100%);
    height: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #C2C2C4;
    color: #000;
}

.filter form {
    width: 100%;
}

.filter input::placeholder {
    color: #000;
}

.catagory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.catagory .photo>i {
    color: green;
}

.catagory .friend>i {
    color: blue;
}

.catagory .feeling>i {
    color: yellowgreen;
}


/* Activity Section Styling End Here */


/* Post Section Styling Start Here */

.post {
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.postAuthor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.title .iconImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.title .iconImg>img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.message {
    padding: 0px 20px 20px;
}

.post .postImg {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}

.post .postImg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* post Section Styling End Here */


/* Mian Section Styling End Here */


/* Media Quries */


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    /* Navbar Left Styling */
    .nav-1 .navbar-serach {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-1 .navbar-serach input {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    .navbar-serach input::placeholder {
        color: transparent;
    }
    .navbar-serach button {
        top: auto;
        left: auto;
    }
    /* Navbar Right Styling */
    .nav-2 .navbar-user-item {
        display: none;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    /* Navbar Rigth Styling */
    .nav-2 {
        display: none;
    }
    /* Left Sidebar Styling */
    .mainSection .leftSidebar {
        width: 35%;
    }
    /* Right Sidebar Styling */
    .mainSection .rightSidebar {
        display: none;
    }
    /* Main Section Styling */
    .mainSection main {
        width: 60%;
        margin-left: 35%;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .navbar {
        gap: 50px;
    }
    /* Navbar Left Styling */
    .nav-1 {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
    .nav-1 .navbar-serach {
        display: none;
    }
    /* Navbar Menu Styling */
    .nav-menu {
        width: calc(100% - 100px);
        height: 100%;
    }
    .navbar-nav .nav-item .nav-link i {
        font-size: 1.5rem;
    }
    /* Left Sidebar Styling */
    .mainSection .leftSidebar {
        display: none;
    }
    /* Right Sidebar Styling */
    .mainSection .rightSidebar {
        display: none;
    }
    /* Main Section Styling */
    .mainSection main {
        width: 100%;
        margin: 0%;
    }
}


/* X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .navbar {
        gap: 0px;
        padding: 0px;
        height: 50px;
    }
    /* Navbar logo Styling */
    .logo {
        width: 30px;
        margin-left: 0px;
    }
    /*  */
    .nav-1 {
        gap: 0px;
        width: 50px;
    }
    .navbar-nav .nav-item .nav-link i {
        font-size: 1.2rem;
    }
    /* Navbar Menu Styling */
    .navbar-nav {
        gap: 5px;
    }
}