* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0 0 0 / 20%);
    padding: 20px;
}

.captcha-div {
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 20%);
}

.captcha-div h1 {
    text-align: center;
    margin-bottom: 10px;
}

.captcha-div p {
    margin-bottom: 10px;
}

.captcha-input {
    width: 100%;
    padding: 10px;
    outline: none;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
    font-family: 'Work Sans', sans-serif;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #D8644F;
    color: #fff;
    border: none;
    cursor: pointer;
}

.reloadCaptcha {
    width: 35px;
    height: 35px;
    overflow: hidden;
    padding: 5px;
    border: none;
    background-color: #D8644F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reloadCaptcha img {
    width: 100%;
}